#member-name-typography {
    color: #000000de;
    font-family: "Roboto";
    font-size: 2.2ch;
    letter-spacing: 0.08ch;
    font-weight: 400;
    line-height: 3.5ch;
    margin-right: 1.2ch;
}

#admin-typography {
    color: #c5b2a5;
    font-family: "Roboto";
    font-size: 1.76ch;
    letter-spacing: 0.06ch;
    font-weight: 700;
    line-height: 3.5ch;
    margin-top: 0.6ch;
}

#accordion-details {
    margin-top: -25px;
}

#member-contact-info {
    color: #00000099;
    font-family: "Roboto";
    font-size: 1.7ch;
    letter-spacing: 0.0366ch;
    font-weight: 400;
    line-height: 2.52ch;
    margin-left: 2.52ch;
    margin-top: 2.5ch;
}

#contact-icon {
    margin-top: 1.5ch;
    color: #c5b2a5;
}

#members-accordion {
    background-color: #c5b2a529;
    box-shadow: none;
}

#kick-member-button-container {
    display: flex;
    flex-direction: row-reverse;
}

#kick-member-button {
    color: #e8a5a5;
}
