.container {
    background-image:
            linear-gradient(
                    rgba(0, 0, 0, 0.45),
                    rgba(0, 0, 0, 0.45)
            ),url('../../background.png');

    background-size: cover;
    height: calc(100vh - 64px);
}

.form-box {
    background: #FFFFFF;
    width: 444px;
    height: 493px;
    position: absolute;
    top: 144px;
    left: 231px;
}

.title {
    text-align: left;
    color: #000000DE;
    opacity: 1;
    letter-spacing: 0.15px;
    font-family: Roboto;
    font-size: 20px;
    margin: 15px;
}

.subtitle {
    color: #00000099;
    opacity: 1;
    font-size: 13px;
    text-align: left;
    font-family: Roboto;
    letter-spacing: 0.15px;
    margin-left: 15px;
    margin-top: 15px;
    width: 356px;
}

.link {
    text-align: left;
    font: normal normal normal 13px/19px Roboto;
    letter-spacing: 0.23px;
    text-decoration: none;
    color: #C5B2A5;
    cursor: pointer;
}

.form-description {
    position:relative;
    top: 42px;
    left: 15px;
    margin-bottom: 30px;
}

#text-field {
   width: 385px
}

#password-field {
    width: 410px
}

#create-button{
    position: absolute;
    right: 20px;
    bottom: 10px;
    text-align: center;
    letter-spacing: 1.25px;
    color: #C5B2A5;
    text-transform: uppercase;
}

#warning-box {
    background: #E8A5A5;
    width: 410px;
    height: 54px;
    position: absolute;
    bottom: 55px;
    left: 17px;
}

#warning-message {
    padding-top: 15px;
    letter-spacing: 0.25px;
    margin-left: 5px;
    font-family: Roboto;
    color: #00000099;
    opacity: 1;
    font-size: 14px;
}

.agoraLogo{
    position: absolute;
    top: 144px;
    left: 630px;
    width: 450px;
    height: 450px;
}
