.background{

    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),url('../../background.png');

    background-size: cover;
    height: calc(100vh - 64px);
}

.background{

    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),url('../../background.png');
    
    background-size: cover;
    height: calc(100vh - 64px);
}

.Container{
    top: 144px;
    left: 231px;
    width: 444px;
    height: 560px;
    position: absolute;
    background: #eaecec 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
}

.Header{
    color: #000000;
    margin-left: 16px
}

.Title{
    color: var(--unnamed-color-000000de);
    text-align: left;
    font-family: 'Roboto';
    letter-spacing: 0.15px;
    color: #000000DE;
    opacity: 1;
}

.Description{
    color: #000;
    text-align: left;
    font: normal normal normal 13px/19px Roboto;
    letter-spacing: 0.23px;
    opacity: 1;
}
.AgoraLogIn{
    text-align: left;
    font: normal normal normal 13px/19px Roboto;
    letter-spacing: 0.23px;
    text-decoration: none;
    color: #C5B2A5;
    cursor: pointer;
}

.Form-First-Row{
    position: relative;
    top: 21px;
    left: 11px;
}
.Email-Row{
    position:relative;
    top: 42px;
    left: 11px;
}
.Password-Row{
    position:relative;
    top: 83px;
    left: 11px;
}
.Errormsg{
    position:relative;
    background: #E8A5A5 0% 0% no-repeat padding-box;
    display: table;
    opacity: 1;
    top: 101px;
    left: 11px;
    width: 420px;
    height: 45px;

}
.ErrorMsg__MSG{
    padding: px;
    /* margin: auto; */
    margin-left: 16px;
    font: normal normal normal 14px/20px Roboto;
    letter-spacing: 0.25px;
    color: #00000099;
    opacity: 1;
}
.CreateAccountButton{
    position: absolute;
    left: 285px;
    top: 530px;
    text-align: center;
    font-family: 'Roboto';
    letter-spacing: 1.25px;
    color: #C5B2A5;
    text-transform: uppercase;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}

.AgoraLogo{
    position: absolute;
    top: 145px;
    left: 783px;
    width: 444px;
    height: 444px;
}
