.container {
  margin-top: 64px;
}

#group-info {
  width: 260px;
  margin-left: 139px;
}

#group-name {
  padding: 16px 16px 0 16px;
}

#group-creation {
  padding: 0 16px 9px 16px;
  color: #00000099;
}

#group-description {
  padding: 9px 16px 0 16px;
  color: #00000099;
}

#abandon-group-button {
  padding: 16px 9px 9px 0;
  color: #E8A5A5;
}