.main-div {
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: #f5f5f5;
  margin-top: 64px;
}

#mid-div {
  overflow-y: scroll;
  padding: 0;
}

#mid-grid::-webkit-scrollbar {
  display: none;
}

#mid-grid {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.members-accordion-div {
  padding: 0;
}

#back-button {
  height: 6ch;
  font-size: 2ch;
  letter-spacing: 0.15ch;
  font-weight: 400;
  font-family: "Roboto";
  background-color: #c5b2a5;
  justify-content: flex-start;
}

#invite-button {
  height: 6ch;
  font-size: 2ch;
  letter-spacing: 0.15ch;
  font-weight: 400;
  font-family: "Roboto";
  background-color: #c5b2a5;
  justify-content: flex-start;
}

#edit-group-grid {
  margin-top: 3.8%;
  margin-left: 3.8%;
}

#group-name-grid {
  margin-top: 3.8%;
  margin-left: 8%;
}

#edit-icon {
  color: #c5b2a5;
}

#group-name {
  padding: 0;
}

#group-creation {
  padding: 0 16px 9px 0px;
  color: #00000099;
}

#group-description {
  padding: 9px 16px 0 16px;
  color: #00000099;
}

#action-group-button {
  margin: 18px 12px 12px 0;
  color: #e8a5a5;
}

#invite-icon {
  margin-right: 8%;
  margin-left: 4%;
}

#back-icon {
  margin-right: 10%;
  margin-left: 4%;
}

#inner-mid-container {
  margin-left: 0;
  width: 100%;
}

#new-announcement-textfield {
  height: 2.5ch;
  top: 0.5vh;
}

#new-announcement-button {
  height: 6ch;
  font-size: 2ch;
  letter-spacing: 0.15ch;
  font-weight: 400;
  font-family: "Roboto";
  background-color: #c5b2a5;
  color: #ffffff;
  margin-left: 1.1%;
}

#new-announcement-button.Mui-disabled {
  background-color: #0000001F;
  color: #00000052;
  margin-left: 0.1%;
}

#new-announcement-button.Mui-disabled:hover {
  cursor: not-allowed;
}

#announcement {
  margin-top: 10px;
  padding: 0 5px 0 5px;
}

#posts-container {
  width: 100%;
}

#edit-group-save-changes-button {
  text-align: center;
  font-family: "Roboto";
  letter-spacing: 1.25px;
  color: #c5b2a5;
  text-transform: uppercase;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#edit-group-customized-dialog-title-paragraph {
  font-family: "Roboto";
  color: #000000de;
  opacity: 1;
}
#editGroup-warning-box {
  background: #e8a5a5;
  height: 54px;
}

#editGroup-warning-message {
  padding-top: 15px;
  letter-spacing: 0.25px;
  font-family: "Roboto";
  color: #00000099;
  opacity: 1;
  font-size: 14px;
  margin-left: 11px;
}

#invitation-description-message {
  font-family: "Roboto";
  width: 410px;
  letter-spacing: 0.23px;
  font-size: 13px;
  color: #00000099;
  opacity: 1;
}

.search-user {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  width: 550px;
}

#invitation-search-button {
  margin-left: 10px;
  background-color: #c5b2a5;
  box-shadow: 0px 4px 5px #00000024;
  border-radius: 4px;
  color: #ffffff;
  width: 76px;
  max-height: 56px;
}

#copy-link-button{
  height: 7ch;
  font-size: 1.5ch;
  width: 350px;
  letter-spacing: 0.15ch;
  font-weight: 400;
  font-family: "Roboto";
  background-color: #C5B2A5;
  margin-top: 70px;
}

.dialog-submit-button{
  margin-top: 50px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

#cancel-invitation{
  color: #E8A5A5;
  margin-left: 10px;
  letter-spacing: 1.25px;
  text-align: right;
  font-family: Roboto, serif;
}

#submit-invitation {
  margin-right: 10px;
  text-align: right;
  letter-spacing: 1.25px;
  color: #C5B2A5;
  font-family: Roboto, serif;

}
#submit-invitation.Mui-disabled {
  color: #C5B2A5;
  opacity: 0.5;
}

#submit-invitation.Mui-disabled:hover {
  cursor: not-allowed;
}
